.history {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 100px 0px;
    font-family: 'Kanit';
}

.history p {
    font-weight: 200;
    font-size: 1.2rem;
}

.history img {
    display: block;
    max-width: 50%;
    border-radius: 0px 50px 50px 0px;
    margin-right: 50px;
}
/* 
.history .right {
    padding-left: 100px;
} */

.history .right h2 {
    color: #c0aa83;
    font-size: 4rem;
}

@media (max-width: 768px) {
    .history img {
        display: none;
    }
}

@media (max-width: 480px) {
    .history{
        padding: 20px;
    }
}